.assistance__title {
    color: #D4C17F;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 36px;
    margin-top: 180px;
}

.assistance__text {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    max-width: 255px;
    margin-top: 61px;
    margin-right: 35px;
}

.assistance__content {
    display: flex;
    align-items: end;
}

.assistance__input,
.assistance__input--phone {
    background: #FFFFFF;
    opacity: 20%;
    width: 255px;
    height: 50px;
    text-align: center;
    border: none;
}

.assistance__btn {
    width: 255px;
    height: 50px;
    background: #D4C17F;
    border: none;
    color: #fff;
    margin-left: 15px;
}

.assistance__input--phone {
    margin-left: 15px;
} 