.features {
    font-family: 'Roboto';
    margin-top: 120px;
}

.features__title {
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    margin-top: 53px;
}

.features__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.features__box {
    width: 20%;
    text-align: center;
    margin: 0 35px;
}